{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row m-0 d-flex " id="story-image">
        <div class="m-auto">
            <h1 class="text-center about-font mb-4">
                Our Story
            </h1>
        </div>
    </div>

    <div class="row about-background mx-auto mt-5">
        <div class="col about-mobile-padding">
            <div class="text-center">
                <h1 class="about-sub-heading"><u>Background</u></h1>
            </div>
            <div class="single-post-content-wrapper text-justify about-mobile-padding pb-0">

                <div class="image-wrapper pt-1 about-image-left">
                    <img src="https://res.cloudinary.com/drgmt7bbz/image/upload/v1669490739/about_1_eaxza9.jpg" alt="">
                </div>
                <p>
                    Josie Anne’s Patisserie was founded by Elaine Meade in 2020.
                </p>
                <p>
                    Elaine has loved baking from a very early age. She grew up in a small village in Clare, baking with
                    her Granny Josie. Granny Josie taught Elaine how to make mouth watering queen cakes, melt in the
                    mouth
                    apple tarts and buttery scones. They spent hours in the kitchen every day, with Granny Josie
                    finessing
                    Elaine’s baking skills. Elaine was also inspired by her Granny Anne, who owned and ran her own
                    restaurant in Carrick-on-Suir. She showed Elaine that through hard work and consistently delicious
                    food – anything is possible!
                </p>
                <p class="mb-0">
                    When Elaine set up her own business in 2020, she was determined to honour both Granny Anne and
                    Granny
                    Josie is the best way she knew how! Hence Josie Anne’s Patisserie was born!
                </p>
            </div>
        </div>
    </div>

    <div class="row about-background mx-auto">
        <div class="col about-mobile-padding">

            <div class="single-post-content-wrapper text-justify about-mobile-padding">
                <div class="text-center">
                    <h1 class="about-sub-heading"><u>About us</u></h1>
                </div>
                <div class="image-wrapper pt-1 about-image-right">
                    <img src="https://res.cloudinary.com/drgmt7bbz/image/upload/v1669496934/about-2_lk6zvy.png" alt="">
                </div>
                <p>
                    Elaine qualified from Galway, Mayo Institute of Technology in 2015 with Culinary Arts and Business
                    degree. Through this degree Elaine has worked in some of Ireland and the UKs most prestigious
                    establishments, including Adare Manor and The Dorchester Hotel.
                </p>

                <p>
                    Upon completing this degree, Elaine moved to London. During her time in London, she worked with
                    world renowned pastry chefs in some of the most innovative and forward-thinking pastry event
                    companies
                    around London.
                </p>

                <p>
                    Josie Anne’s Patisserie is an online platform where customers can order sweet treats, afternoon tea,
                    bespoke cakes, tarts, scones and a wide variety of desserts. These are available for click and
                    collect, or local delivery. Bespoke treat boxes are also available for nationwide delivery. Click on
                    the tabs above to find out more about these dessert and sweet treat options.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}