{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid justify-content-center p-0">
    <div class="row mx-0" id="hero-image">
        <div class="mx-auto my-auto w-50">
            <h1 class="text-center main-title-font">
                Sit In &amp; Take Out, We Have Something For Everyone
            </h1>
            <div class="text-center mt-5">
                <h4>
                    <a href=""
                       class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                        Collection
                    </a>
                    <a href=""
                       class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">
                        Delivery
                    </a>
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        {% if product.hidden == False %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card" style="width: 18rem;">
              {% if product.image %}
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                    <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                {% endif %}
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description | slice:'0:150' | safe }} ...</p>
                  {% if product.rating %}
                    <small class="text-muted d-inline"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                    <small class="text-muted d-inline">No Rating</small>
                    {% endif %}
                  <p class="card-text">€{{ product.price }}</p>
                  <a href="{% url 'product_detail' product.sku %}" class="btn btn-primary">View</a>
              </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
            <hr>
        </div>
        {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}