{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid justify-content-center p-0">
    <div class="row mx-0" id="hero-image">
        <div class="col-sm-4 col-md-4 mx-5 my-5" id="cta-text">
            <h1 class="text-center main-title-font p-3 m-0">
                Sit In &amp; Take Out, We Have Something For Everyone
            </h1>
            <div class="text-center">
                <h4>
                    <a href="{% url 'products' %}?category=collection"
                       class="shop-now-button btn btn-md rounded-0 text-uppercase py-2">
                        Collection
                    </a>
                    <a href="{% url 'products' %}?category=delivery"
                       class="shop-now-button btn btn-md rounded-0 text-uppercase py-2">
                        Delivery
                    </a>
                </h4>
            </div>
        </div>
    </div>
    <div class="row mx-0 justify-content-center px-0 py-3">
        <p class="h1"><u>Our Favourites</u></p>
    </div>
    <div class="row w-100 d-flex justify-content-around mx-0 my-3">
        {% for product in products %}
        {% if product.hidden == False %}
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="card">
                {% if product.image %}
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body card-body-height">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <div class="product-card-descript">
                        <p class="card-text ">{{ product.description | slice:'0:150' | safe }} ...</p>
                    </div>
                    {% if product.rating %}
                    <div class="row">
                        <div class="col">
                            <small class="text-muted d-inline"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                            {% else %}
                            <small class="text-muted d-inline">No Rating</small>
                            {% endif %}
                            <p class="card-text">€{{ product.price }}</p>
                        </div>
                        <div class="col">
                            <a href="{% url 'product_detail' product.sku %}" class="btn btn-primary float-right mr-2">View</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="row w-90 mx-auto my-5" id="afternoon-tea-cta-image">
        <div class="m-auto p-5" id="afternoon-tea-cta-text">
            <h1 class="text-center main-title-font p-3 m-0">
                Afternoon Tea
            </h1>
            <p>Book an afternoon tea for you or your loved ones.</p>
            <div class="text-center">
                <h4>
                    <a href=""
                       class="shop-now-button btn btn-md rounded-0 text-uppercase py-2">
                        Book Now
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}