# virtual env set up locally
venv/
venv39/
# PyCharm file (from idea)
.idea/
# Locally created db
db.sqlite3
# Project Pycache
josie_annes_patisserie/__pycache__/
# Word docs related to the site
docs/
# issues folder
.github/