{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col text-center my-3">
            <h2 class="heading-font m-0">
                <u>Products - {{ products.0.category }}</u>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Sort By:
            <div>
                <a href="{% url 'products' %}?catergory={{ products.0.category|lower }}&sort=price&direction=desc">Price</a>
                <span>|</span>
                <a href="{% url 'products' %}?catergory={{ products.0.category|lower }}&sort=rating&direction=desc">Rating</a>
            </div>
        </div>
        <div class="col">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group w-100">
                    <input class="form-control border border-black rounded-0" type="text" name="q"
                           placeholder="Search our site">
                    <div class="input-group-append">
                        <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="row w-100 d-flex justify-content-around mx-0 mb-5">
        {% for product in products %}
        {% if product.hidden == False %}
        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mt-5 d-flex align-items-stretch">
            <div class="card shadow-sm">
                {% if product.image %}
                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                {% else %}
                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title pt-1">{{ product.name }}</h5>
                    <div class="mb-3">
                        <p class="card-text">{{ product.description | slice:'0:60' | safe }} ...</p>
                    </div>

                    <div class="row mt-auto justify-content-around">
                        <p class="card-text card-price m-0">€{{ product.price }}</p>
                        <a href="{% url 'product_detail' product.sku %}"
                           class="btn view-product-btn">View</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}