<nav class="navbar p-0" id="header-non-mobile">
    <div class="container-fluid p-0">
        <div class="row w-100 mx-auto">
            <div class="col-sm-0 col-md-3">

            </div>
            <div class="col-sm-6 col-md-6 text-center py-4">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="https://res.cloudinary.com/drgmt7bbz/image/upload/v1675618128/logo_lh4knb.webp"
                         alt="Logo for Josie Annes Patisserie">
                </a>
            </div>
            <div class="col-sm-6 col-md-3 my-auto p-0">
                <ul class="list-inline list-unstyled m-0 float-right pr-4">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link" href="#" id="user-options" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <img src="https://res.cloudinary.com/drgmt7bbz/image/upload/v1675627747/user_bcvxzd.png"
                                     alt="Account Image">
                                <p class="my-0 text-dark">Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-dark font-weight-bold{% else %}text-dark{% endif %} nav-link"
                           href="{% url 'bag' %}">
                            <div class="text-center">
                                <img src="https://res.cloudinary.com/drgmt7bbz/image/upload/v1675627894/bag_zql1k1.png"
                                     alt="Icon of shopping bag">
                                <p class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row w-100 primary-bg mx-auto">
            <ul class="nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}"
                       aria-haspopup="true" aria-expanded="false">
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#"
                       id="all-products-link" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Shop
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                        <a href="{% url 'products' %}?category=collection" class="dropdown-item">Collection</a>
                        <a href="{% url 'products' %}?category=delivery" class="dropdown-item">Delivery</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'afternoon_tea' %}">Afternoon Tea</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cake' %}">Cake</a>
                </li>
            </ul>
        </div>
        <div class="row w-100 mx-auto delivery-banner">
            <div class="col text-center">
                <h4 class="my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>
            </div>
        </div>
    </div>
</nav>