<nav class="navbar navbar-light bg-light p-0" id="header-non-mobile">
    <div class="container-fluid">
        <div class="row w-100 mx-auto">
            <div class="col-md-3 col-sm-1">

            </div>
            <div class="col-md-6 col-sm-10">
                <a class="navbar-brand text-justify mx-auto" href="{% url 'home' %}">
                    <img src="https://res.cloudinary.com/drgmt7bbz/image/upload/v1664667952/logo_xvejgo.png" alt="">
                </a>
            </div>
            <div class="col-md-3 col-sm-1 my-auto">
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item align-top dropdown">
                        <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <img src="https://res.cloudinary.com/drgmt7bbz/image/upload/v1664718875/user_qyee1c.png"
                                     alt="">
                                <p class="my-0">Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                            <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item align-top">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                           href="{% url 'bag' %}">
                            <div class="text-center">
                                <img src="https://res.cloudinary.com/drgmt7bbz/image/upload/v1664668068/shopping-cart_nvv1zc.png"
                                     alt="">
                                <p class="my-0">
                                    {% if grand_total %}
                                    €{{ grand_total|floatformat:2 }}
                                    {% else %}
                                    €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row w-100">
            <div class="col bg-black black-white text-center">
                <h4 class="logo-font my-1">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>
            </div>
        </div>
        <div class="row w-100">
            <ul class="nav mx-auto">
                <li class="nav-item">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}"
                       aria-haspopup="true" aria-expanded="false">
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#"
                       id="all-products-link" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Shop
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                        <a href="{% url 'products' %}?category=collection,both" class="dropdown-item">Collection</a>
                        <a href="{% url 'products' %}?category=delivery,both" class="dropdown-item">Delivery</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Third</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fourth</a>
                </li>
            </ul>
        </div>
    </div>
</nav>