<nav class="navbar p-0" id="header-non-mobile">
    <div class="container-fluid p-0">
        <div class="row w-100 mx-auto">
            <div class="col-sm-0 col-md-3">

            </div>
            <div class="col-sm-6 col-md-6 text-center mb-2 mt-2">
                <a class="navbar-brand m-0" href="{% url 'home' %}">
                    <img src="https://res.cloudinary.com/drgmt7bbz/image/upload/v1664667952/logo_xvejgo.png"
                         alt="Logo for Josie Annes Patisserie">
                </a>
            </div>
            <div class="col-sm-6 col-md-3 my-auto">
                <div class="m-auto" style="width: max-content;">
                    <a class="primary-text{% if grand_total %} font-weight-bold{% endif %}"
                       href="{% url 'bag' %}">
                        <div class="mx-auto px-auto">
                            <img src="https://res.cloudinary.com/drgmt7bbz/image/upload/v1669300872/shopping-basket-52x52_wckbyi.png"
                                 alt="">
                            <p class="m-0">
                                {% if grand_total %}
                                €{{ grand_total|floatformat:2 }}
                                {% else %}
                                €0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row w-100 mx-auto mb-2">
            <ul class="nav mx-auto d-flex justify-content-around nav-ul-list">
                <li class="nav-item">
                    <a class="nav-link header-links" href="{% url 'home' %}"
                       aria-haspopup="true" aria-expanded="false">
                        Home
                    </a>
                </li>
                <li class="my-auto" style="color: #c06f9f !important;">|</li>
                <li class="nav-item dropdown">
                    <a class="nav-link header-links" href="#"
                       id="all-products-link" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        Shop
                    </a>
                    <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                        <a href="{% url 'products' %}?category=collection" class="dropdown-item">Collection</a>
                        <a href="{% url 'products' %}?category=delivery" class="dropdown-item">Delivery</a>
                    </div>
                </li>
                <li class="my-auto" style="color: #c06f9f !important;">|</li>
                <li class="nav-item">
                    <a class="nav-link header-links" href="{% url 'afternoon_tea' %}">About Us</a>
                </li>
                <li class="my-auto" style="color: #c06f9f !important;">|</li>
                <li class="nav-item">
                    <a class="nav-link header-links" href="{% url 'contact' %}">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>