<nav id="header-mobile" class="navbar p-0">
    <div class="container-fluid w-100 p-0">
        <div class="row w-100">
            <div class="col-2 m-0 pt-1">
                <nav class="navbar navbar-expand-md navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="main-nav">
                        <ul class="navbar-nav w-auto mx-auto">
                            <li>
                                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}"
                                   aria-haspopup="true" aria-expanded="false">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#"
                                   id="all-products-link" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    Shop
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                                    <a href="{% url 'products' %}?category=collection,both" class="dropdown-item">Collection</a>
                                    <a href="{% url 'products' %}?category=delivery,both"
                                       class="dropdown-item">Delivery</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#"
                                   id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Third
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                                    <a href="" class="dropdown-item">Item</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Fourth
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                                    <a href="" class="dropdown-item">Item</a>
                                </div>
                            </li>

                            <hr>

                            <li class="nav-item dropdown">
                                <a class="logo-font font-weight-bold nav-link text-black" href="#"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Account
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                                    {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                    {% endif %}
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'bag' %}"
                                   aria-haspopup="true" aria-expanded="false">
                                    <p class="my-0"> Cart
                                        {% if grand_total %}
                                        €{{ grand_total|floatformat:2 }}
                                        {% else %}
                                        €0.00
                                        {% endif %}
                                    </p>
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                                    <a href="" class="dropdown-item">Item</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-10 m-0 px-0">
                <a class="navbar-brand text-justify mx-auto float-right" href="{% url 'home' %}">
                    <img src="https://res.cloudinary.com/drgmt7bbz/image/upload/v1668677570/logo-mobile_sxbusu.png" alt="">
                </a>
            </div>
        </div>
        <div class="row bg-dark w-100 m-0">
            <div class="col text-center">
                <h4 class="my-2 text-white">Free delivery on orders over €{{ free_delivery_threshold }}!</h4>
            </div>
        </div>
    </div>
</nav>


