<nav class="navbar navbar-expand-md navbar-light" id="header-mobile">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link mr-5 header-links" href="{% url 'home' %}"
                   aria-haspopup="true" aria-expanded="false">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="logo-font font-weight-bold nav-link mr-5 header-links"
                   href="{% url 'products' category='collection' page=1 %}"
                   id="all-products-link" aria-haspopup="true"
                   aria-expanded="false">
                    Shop
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link mr-5 header-links"
                   href="{% url 'about' %}"
                   aria-haspopup="true" aria-expanded="false">
                    About Us
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black header-links"
                   href="{% url 'contact' %}"
                   aria-haspopup="true" aria-expanded="false">
                    Contact Us
                </a>
            </li>

            <hr>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black header-links"
                   href="{% url 'bag' %}"
                   aria-haspopup="true" aria-expanded="false">
                    <p class="my-0"> Cart
                        {% if grand_total %}
                        €{{ grand_total|floatformat:2 }}
                        {% else %}
                        €0.00
                        {% endif %}
                    </p>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                    <a href="" class="dropdown-item">Item</a>
                </div>
            </li>
        </ul>
    </div>
</nav>



