{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-7 mx-auto my-auto">
            <div class="card">
                <div class="card-body px-lg-5 py-lg-5 text-center">
                    <h1>{% trans "Verify Your E-mail Address" %}</h1>
                    <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
                        process. If you
                        do not see the verification e-mail in your main inbox, check your spam folder. Please contact us
                        if you do not
                        receive the verification e-mail within a few minutes.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
