{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4 contact-form">
        <form class="mx-auto" action="{% url 'contact' %}" method="POST">
            <p class="heading-font m-0 text-center"><u>Contact Us</u></p>
            <p class="text-muted text-center">Please fill out the form below to send us an email</p>
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="col-sm-12 col-md-6">
                    {{ form.email|as_crispy_field }}
                </div>
            </div>
            {{ form.content|as_crispy_field }}
            <button id="submit-button" class="btn view-product-btn float-right mr-3">
                <span class="font-weight-bold">Send</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}