{% load static %}

<!doctype html>
<html lang="en">
<head>
    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="An online shop for baked goods. A cafe located in Clare with a lovely view.">
    <meta name="keywords"
          content="cafe, Clare, coffee, treats, tea, lunch, afternoon tea, order a cake">
    <link rel="icon" type="image/x-icon"
          href="https://res.cloudinary.com/drgmt7bbz/image/upload/v1668739987/coffee-cup_e8aiel.png">
    {% endblock %}

    {% block extra_meta %}

    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.cdnfonts.com/css/glacial-indifference-2" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% endblock %}

    {% block extra_css %}

    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
            crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    <!--  Font Awesome CDN  -->
    <script src="https://kit.fontawesome.com/6a7de0b6c8.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}

    {% endblock %}

    <title>Josie Annes' Patisserie {% block extra_title %}{% endblock %}</title>
</head>
<body>

<header>
    {% include 'includes/header.html' %}
    {% include 'includes/header-mobile.html' %}
    <div id="delivery-banner" class="row text-center w-100 m-0">
        <div class="col w-100 p-0">
            <p class="m-0" style="background-color: #863b67 ;color: #ffffff; font-family: 'GlacialIndifference';">Individual Desserts: 4 for €16.50, or 6 for €25.00</p>
        </div>
    </div>
</header>

{% if messages %}
<div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
</div>
{% endif %}

{% block page_header %}
{% endblock %}

{% block content %}
{% endblock %}

<footer class="py-3">
    <div class="container-fluid px-0">
        <div class="row w-100 mx-auto py-2">
            <ul class="nav mx-auto d-flex justify-content-around nav-ul-list">
                <li class="nav-item">
                    <a class="nav-link footer-links py-0" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-links py-0" href="{% url 'products' category='collection' page=1 %}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-links py-0" href="{% url 'about' %}">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link footer-links py-0" href="{% url 'contact' %}">Contact Us</a>
                </li>
            </ul>
        </div>
        <div class="row w-100 mx-auto justify-content-center py-2">
            <div class="col-sm-12 col-md-3 col-lg-4 d-flex justify-content-center footer-text social-links">
                <a class="external-links" href="https://www.instagram.com/josieannespatisserie/" rel="external" target="_blank">
                <p class="m-0">
                    <i class="fa-brands fa-instagram fa-lg"></i>
                    josieannespatisserie
                </p>
                </a>
            </div>
            <div class="col-sm-12 col-lg-4 d-flex justify-content-center footer-text footer-fb-padding social-links-middle">
                <a class="external-links" href="https://www.facebook.com/profile.php?id=100087897433792" rel="external" target="_blank">
                    <p class="m-0">
                        <i class="fa-light fa-envelope fa-lg hide-icon"></i>
                        elaine@josieannespatisserie.com
                    </p>
                </a>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-4 d-flex justify-content-center footer-text footer-fb-padding social-links">
                <a class="external-links" href="https://www.facebook.com/profile.php?id=100087897433792" rel="external" target="_blank">
                    <p class="m-0">
                        <i class="fa-brands fa-facebook-f fa-lg"></i>
                        josieannespatisserie
                    </p>
                </a>
            </div>
        </div>
    </div>

    <div class="footer-copyright text-center py-2">© 2020 Copyright:
        <a href="/"> JosieAnnesPatisserie.com</a>
    </div>

</footer>

{% block postloadjs %}
<script type="text/javascript">
    $('.toast').toast('show');
</script>
{% endblock %}
</body>
</html>